<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Remove Staff</h3>
<p>
    <div align="center">
    <a th:href="@{/staff}" class="btn btn-secondary">
        Back to staff list
    </a>
</p>
<div id="form">
    <form  th:action="@{/staff/delete}" th:object="${staffDelete}"
          method="POST" novalidate="novalidate" style="background-color: black" >
        <div hidden>
            <label>Id</label>
            <input type="text"  th:field="*{idStaff}"/>
        </div>
        <div style="background-color: black; color: white" >
            <label>Employee</label>
            <input type="text" readonly th:field="*{staffCode}"/>
        </div>
        <div style="background-color: black; color: white">
            <label>Name</label>
            <input type="text" readonly th:field="*{staffName}"/>
        </div>
        <div style="background-color: black; color: white">
            <label>Age</label>
            <input type="text" readonly th:field="*{staffAge}"/>
        </div>
        <div style="background-color: black; color: white">
            <label>Salary</label>
            <input type="text" readonly th:field="*{salary}"/>
        </div>
        <div style="background-color: black; color: white">
            <label>Branch</label>
            <input type="text" readonly name="branch" th:value="${staffDelete.branch.getNameBranch()}"/>
        </div>
        <input type="submit" class="btn btn-secondary" onclick="confirmation()" value="Remove"/>
    </form>
    <script>
        function confirmation(){
            let result = confirm("Are you sure to delete?");
            if(result){
                console.log("Deleted")
            } else return
        }
    </script>
</div>
</div>
<footer th:replace="/layout :: footer"></footer>

</body>
</html>
